@import 'common/navbar';
@import 'utils/vars';
@import 'utils/reset';
@import 'common/cardCollapsed';
@import 'common/mainLayout';
@import 'common/tab';
@import 'common/table';
@import 'common/ui.form';
@import 'common/adminTab';
body {
  font-family: Montserrat;
  font-size: $mainFontSize;
  color: $mainFontColor;
  font-weight: $mainFontWeight;
  background-color: $bodyBackground;
}

.container {
  padding: 0;
  margin: 0;
}
