@import 'common/navbar';
@import 'utils/vars';
@import 'utils/reset';
@import 'common/cardCollapsed';
@import 'common/mainLayout';
@import 'common/tab';
@import 'common/table';
@import 'common/form';
@import 'common/adminTab';
@import 'common/modalWindow';
@import 'common/login';
body,
#app {
  font-family: Montserrat;
  font-size: $mainFontSize;
  color: $mainFontColor;
  font-weight: $mainFontWeight;
  padding: 0;
  margin: 0;
}
