.tab-wrapper {
  display: flex;
  justify-content: row;
}
.admin-layout {
  border: 1px solid $color-purple;
  border-radius: 5px;
  margin: 1.2rem;
  max-width: 18rem;
  box-shadow: 14px 4px 15px rgba(108, 99, 255, 0.55);
}

.active-tab {
  color: $color-white;
  background-color: $color-purple;
}

.admin-form {
  display: grid;
  grid-template-columns: 1fr;
  color: $color-purple;
}

.admin-btn-form {
  margin-top: 1rem !important;
  //   grid-row-start: 5;
}

.admin-card-wrapper {
  display: flex;
}

.admin-list-users-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.admin-row-user-card {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid rgba(108, 99, 255, 0.55) !important;
  box-shadow: none !important;
  align-items: center !important;
}

.admin-users-text {
  text-align: center;
}

.list-users-header {
  border: none !important;
}

.admin-form-edit-user {
  overflow-y: scroll !important;
  background-color: $color-white;
}

.admin-list-users-wrapper {
  overflow-y: scroll !important;
}
.admin-edit-user {
  background-color: $color-white !important;
  padding: 1rem !important;
}

// .edit-user-text {
//   background-color: $color-white !important;
//   color: black !important;
//   z-index: 0 !important;
// }
