.admin-card-wrapper {
  display: flex !important;
  flex-direction: column;
}
.admin-layout {
  border: 1px solid $color-purple;
  border-radius: 5px;
  margin: 1.2rem;
  max-width: 18rem;
  box-shadow: 14px 4px 15px rgba(108, 99, 255, 0.55);
}

.active-tab {
  color: $color-white;
  background-color: $color-purple;
}

.admin-form {
  width: 84vw;

  // display: grid;
  // grid-template-columns: 25rem;

  // justify-content: center;
  color: $color-purple;
  background-color: $color-white !important;
}

.admin-btn-form {
  display: flex;

  //   grid-row-start: 5;
}

.admin-card-wrapper {
  display: flex !important;
  justify-content: row !important;
}

.admin-list-users-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.admin-row-user-card {
  display: grid !important;
  grid-template-columns: 9em 9em 9em 9em 9em 9em 3em;
  border: 1px solid rgba(108, 99, 255, 0.55) !important;
  border-radius: 17px !important;
  box-shadow: none !important;
  align-items: center !important;
}

.admin-users-text {
  text-align: center;
}

.list-users-header {
  border: none !important;
}

.admin-form-edit-user {
  overflow-y: scroll !important;
  background-color: $color-white;
}

.admin-list-users-wrapper {
  overflow-y: scroll !important;
}
.admin-edit-user {
  background-color: $color-white !important;
  padding: 1rem !important;
}
.form-error-container {
  color: $color-grey !important;
  :first-child {
    padding-top: 0.5rem;
  }
  .form-error-text {
    display: flex;
    margin-bottom: 0.5rem !important;
    color: $color-red;
    border-radius: 5px;
    padding-left: 1rem;
    padding-bottom: 0.1rem !important;
    line-height: 1rem;
  }
}

.delete-icon {
  color: $color-red !important;
}
