.card-alert {
  border-top: $border-top-width solid #43d681 !important;
}
.alert-success > * {
  fill: #43d681;
}

.alert-error-layer {
  border-top: 5px solid $color-red !important;
  border-radius: $card-radius;
}

.alert-error-form-layer {
  border-left: 5px solid $color-red !important;
  border-radius: $card-radius;
}
