.cards-container {
  display: grid !important;
  grid-template-columns: 16em 16em;
  justify-content: center !important;
}
.products-cards {
  display: grid;
  grid-template-columns: 15rem 15rem;
  justify-content: center !important;
  column-gap: 2%;
  padding: 0;
}

.offer-card {
  padding-top: 1em;
  padding-bottom: 1em;
  // min-height: 10em;
  // min-width: 13em;
  border: 1px solid $color-purple !important;
  border-radius: 17px !important;

  .elevation-24 {
    box-shadow: 0.4em -0.2em 0.9em rgba(108, 99, 255, 0.6) !important;
  }
}

// .card-wrapper {
//   border: 1px solid red !important;
// }

.offer-card-title {
  display: flex !important;
  flex-direction: column;
}

.offer-card-content {
  display: grid !important;
  margin-top: 0 !important;

  grid-template-areas:
    'head head'
    'aside aside'
    'price status';
}

.product:nth-child(1) {
  grid-area: head !important;
}

.product:nth-child(3) {
  grid-area: aside !important;
}

.product:nth-child(-2) {
  grid-area: status !important;
}

.product:nth-child(-1) {
  grid-area: price !important;
}

.offer-card-text {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  font-size: 0.8em;
}
.offer-card-text-main {
  font-size: 1.16em;
  border: 1px solid $color-green;
  border-radius: 15px;
  padding: 0.2em 1em;
  color: $color-green;
}

.offer-card-text-main.state {
  // margin-top: 0.5em;
  // margin-bottom: 0.3em;

  color: $color-purple;
  border: 1px solid $color-purple;
  border-radius: 15px;
  text-transform: lowercase;
}

.offer-card-text-main.price {
  color: $color-orange;
  border: 1px solid $color-orange;
  border-radius: 15px;
}

.offer-card-text-main.price,
.offer-card-text-main.state {
  padding: 0.1em 0.7em 0.2em 0.7em; // NOTE: top right bottom left
}

.card-action {
  cursor: pointer;
  :hover {
    color: rgba(108, 99, 255, 0.6);
  }
}

.card-action-btn {
  display: flex !important;
  margin-top: 0.6em !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: center;
}

.product-card {
  border: 1px solid $color-purple !important;
  border-radius: 12px !important;
  width: 100%;

  display: grid !important;
  grid-template-areas:
    'head head'
    'aside aside'
    'price status';
}

.product-card-title {
  grid-area: head !important;
  justify-content: center;
}

.product-card-title {
  display: flex !important;
  flex-direction: column;
}

.product-card-text {
  display: flex !important;
  flex-direction: column;
}

.product-card-text-value {
  text-align: center;
  color: $color-green;
  font-size: 1.2em;
  // border-radius: 3px;
  // border: 1px solid $color-green;
  // background-color: rgba(49, 196, 141, 0.15);
}

.manufacturer-card-action {
  flex-direction: column;
  justify-content: center;
}
