.player-layout {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

.layout-showcase {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-panel-products-layout {
  display: flex !important;
}
