#login__container {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 26.5rem;
  margin-bottom: 12rem;
  box-shadow: $shadow;
  padding-bottom: 1rem;
}
#login_logo {
  margin: 0;
  padding: 0;
  height: 12rem;
  padding-left: 2rem;
}

.login-row {
  margin-top: 0.5rem;
}
.login-btn {
  margin-top: 1.2rem;
  width: 19rem;
}

// @media screen and (max-height: 844px) and (max-width: 400px) {
//   #login__container {
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//   }
// }

// @media screen and(min-height: 1024) {
//   #login__container {
//     right: 10vw;
//   }
// }
