.shop-offer-header {
  justify-content: flex-start !important;
}

.shop-offers.offers-not-found {
  display: flex !important;
  justify-content: center;
}

.offer-header-item {
  margin: 2em !important;
}

.dialog-error {
  display: flex !important;
  flex-direction: column;
  align-content: center !important;
}

.dialog-error-li {
  list-style-type: disc;
  color: $color-red;
}

.dialog-error-text {
  color: $color-grey;
}

.dialog-error-title {
  border-top: 10px solid $color-red;

  opacity: 0.75;
}
.offer-low-balance-title-text {
  font-size: 0.95em;
}
