.shop-offer-header {
  justify-content: flex-start !important;
}

.shop-offers.offers-not-found {
  display: flex !important;
  justify-content: center;
}

.offer-header-item {
  margin: 2em !important;
}

.offer-low-balance {
  display: flex !important;
  flex-direction: column;
  align-content: center !important;
}

.offer-low-balance-title {
  border-top: 10px solid $color-red;
  opacity: 0.75;
}
.offer-low-balance-title-text {
  font-size: 0.95em;
  
}
