.tb-container {
  //   padding: 1.5rem 0 1.5rem 2rem; // up right down left
  margin: $WrapperMargin;
}

.tb {
  font-size: 1.3rem;
  letter-spacing: $letter-spacing;
  border-bottom: 0.13rem solid $color-purple;
}
